<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/head') %> 
<body>
  <!-- header -->
  <%- include('../partials/header') %> 
  <main class="main-form">
    <div class="container-form">
    <h2 class="form-title">Article creation:</h2>

    <!-- <--------FORMULARIO--------->

    <form class="form-inputs"action="/products/create" method="POST" enctype="multipart/form-data">
      <div class="userinput">
        <input type="name"  name="name" placeholder="Product Name">
      </div>
      <div class="userinput">
       <textarea name="description" id="" cols="30" rows="10"></textarea>
      </div>
      <div class="file-select" id="src-file1" >
        <input type="file" name="image"  multiple >
      </div>
      <div class="userinput">
        <label>Category</label>
        <select class="drop-down"name="category_id">
          <option disabled selected>Choose a category</option>
          <% categories.forEach(category => { %>
            <option value="<%= category.id %>"><%= category.name %></option>
          <% }) %>
        </select>
      </div>
      <div class="userinput">
        <label>Sub Category</label>
        <select class="drop-down"name="sub_category_id">
          <option disabled selected>Choose a sub category</option>
          <% sub_categories.forEach(sub_category => { %>
            <option value="<%= sub_category.id %>"><%= sub_category.name %></option>
          <% }) %>
        </select>
      </div>
      <div class="userinput">
        <label>Brand</label>
        <select class="drop-down"name="brands_id">
          <option disabled selected>Choose a brand</option>
          <% brands.forEach(brand => { %>
            <option value="<%= brand.id %>"><%= brand.name %></option>
          <% }) %>
        </select>
      </div>
        <select class="drop-down"name="color">
            <option disabled selected>Choose color</option>
            <% colors.forEach(color => { %>
              <option value="<%= color.id %>"><%= color.color %></option>
            <% }) %>
           
        </select>
        <div class="userinput">
          <label>Internal Storage</label>
          <select class="drop-down"name="memory_id">
            <option disabled selected>Choose a memory</option>
            <% memories.forEach(memory => { %>
              <% if (memory.type == "R0M") { %>
                <option value="<%= memory.id %>"><%= memory.memory %></option>
               
              <% } %>
            <% }) %>
          </select>
        </div>
        <div class="userinput">
          <label>RAM Memory</label>
          <select class="drop-down"name="memory_id">
            <option disabled selected>Choose a RAM memory</option>
            <% memories.forEach(memory => { %>
              <% if (memory.type == 'RAM') { %>
                <option value="<%= memory.id %>"><%= memory.memory %></option>
               
              <% } %>
            <% }) %>
          </select>
        </div>
        <div class="userinput">
          <label>RAM Memory</label>
          <select class="drop-down"name="ramMemory">
            <option disabled selected>Choose a RAM memory</option>
            <% memories.forEach(memory => { %>
              <option value="<%= memories.id %>"><%= memories.type %>"</option>
            <% }) %>
          </select>
        </div>
        <div class="userinput">
          <label>RAM Memory</label>
          <select class="drop-down"name="ramMemory">
            <option disabled selected>Choose a RAM memory</option>
            <% memories.forEach(memory => { %>
              <option value="<%= memories.id %>"><%= memories.type %>"</option>
            <% }) %>
          </select>
        </div>
        <div class="userinput">
          <label>RAM Memory</label>
          <select class="drop-down"name="ramMemory">
            <option disabled selected>Choose a RAM memory</option>
            <% memories.forEach(memory => { %>
              <option value="<%= memories.id %>"><%= memories.type %>"</option>
            <% }) %>
          </select>
        </div>
      <div class="userinput">
        <input type="number" name="height" placeholder="Product height">
      </div>
      <div class="userinput">
        <input type="number" name="length" placeholder="Product length">
      </div>
      <div class="userinput">
        <input type="number" name="width" placeholder="Product width">
      </div>
      <div class="userinput">
        <input type="number" name="price" placeholder="Product Price">
      </div>
      <div class="userinput">
        <input type="number" name="discount" placeholder="Product Discount">
      </div>
      <div class="button-create-product">
      <div class="userinput button-submit">
        <input class="input-button" type="Submit" value="Submit">
      </div>
      <div class="userinput button-submit">
        <input class="input-button" type="Submit" value="Reset">
      </div>
    </div>
    </form>

  </div>
  </main>
</body>
</html>