<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/formProduct.css" />

  <body>
    <!-- header -->
    <%- include('../partials/header') %>
    <main class="main-form">
      <div class="container-form">
        <h2 class="form-title">Edit</h2>

        <!-- <--------FORMULARIO--------->

        <form
          class="form-inputs"
          action="/products/<%= product.id %>/edit?_method=PUT"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="userinput">
            <label for="">Name:</label>
            <input
              type="name"
              name="name"
              placeholder="Product Name"
              value="<%= product.name %>"
            />
          </div>
          <br />
          <label for="" id="titleDescription">Description</label>
          <div id="area">
            <textarea
              id="area2"
              name="description"
              cols=""
              style="resize: none"
              rows="15"
            >
<%= product.description%></textarea
            >
          </div>
          <div class="userinput">
            <label>Category:</label>
            <select class="drop-down" name="category_id">
              <option selected value="<%= product.categories.id %>">
                <%= product.categories.name %>
              </option>
              <% categories.forEach(category=> { %>
              <option value="<%= category.id %>"><%= category.name %></option>
              <% }) %>
            </select>
          </div>
          <div class="userinput">
            <label>Sub Category:</label>
            <select class="drop-down" name="sub_category_id">
              <option selected value="<%= product.sub_categories.id %>">
                <%= product.sub_categories.name %>
              </option>
              <% sub_categories.forEach(sub_category=> { %>
              <option value="<%= sub_category.id %>">
                <%= sub_category.name %>
              </option>
              <% }) %>
            </select>
          </div>
          <div class="userinput">
            <label>Brand:</label>
            <select class="drop-down" name="brands_id">
              <option selected value="<%= product.brands.id %>">
                <%= product.brands.name %>
              </option>
            </select>
          </div>
          <div class="userinput">
            <label>Colors</label>
            <select class="drop-down" name="color_id">
              <option selected value="<%= product.colors.id %>">
                <%= product.colors.color %>
              </option>
              <% colors.forEach(color=> { %>
              <option value="<%= color.id %>"><%= color.color %></option>
              <% }) %>
            </select>
          </div>
          <% if (product.camera) { %>

          <div class="userinput">
            <label>Cameras</label>
            <select class="drop-down" name="camera_id">
              <option selected value="<%= product.camera.id %>">
                <%= product.camera.resolution %>
              </option>
              <% cameras.forEach(camera=> { %>
              <option value="<%= camera.id %>"><%= camera.resolution %></option>
              <% }) %>
            </select>
          </div>
          <% } %>

          <div class="userinput">
            <label>Price</label>
            <input
              type="number"
              name="price"
              placeholder="Product Price"
              value="<%= product.price %>"
            />
          </div>

          <div class="userinput">
            <label>Discount</label>
            <input
              type="number"
              name="discount"
              placeholder="Product Discount"
              value="<%= product.discount %>"
            />
          </div>
          <div class="userinput">
            <label>Stock</label>
            <input
              type="number"
              name="stock"
              placeholder="Stock"
              value="<%= product.stock %>"
            />
          </div>
          <div class="button-create-product">
            <div class="userinput button-submit">
              <input class="input-button" type="Submit" value="Submit" />
            </div>
            <div class="userinput button-submit">
              <input class="input-button" type="Submit" value="Reset" />
            </div>
          </div>
        </form>
        <div>
          <form
            action="/images/create/<%= product.id %>"
            method="post"
            enctype="multipart/form-data"
          >
            <input type="file" name="files" multiple /><br /><br />
            <button class="btn btn-edit" type="submit">Create</button>
          </form>
        </div>
        <div style="display: flex; flex-wrap: wrap; gap: 20px">
          <% product.images.forEach(file=> { %>
          <figure style="display: flex; flex-wrap: wrap; gap: 20px">
            <div>
              <img
                style="width: 140px"
                src="/images/products/<%= file.name %>"
                alt=""
              />
            </div>
            <div class="div-btn">
              <form
                action="/images/update/<%= file.id %>/<%= product.id %>?_method=PUT"
                method="post"
                enctype="multipart/form-data"
              >
                <input type="file" name="file" /> <br /><br />
                <button class="btn-edit" type="submit">Update</button> <br />
                <br />
              </form>
              <form
                action="/images/delete/<%= file.id %>/<%= product.id %>?_method=delete"
                method="post"
              >
                <button class="btn-submit" type="submit">Delete</button>
                <br /><br />
              </form>
            </div>
          </figure>

          <% }) %>
        </div>
      </div>
    </main>
  </body>
</html>
