<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  
  <%- include('../partials/head') %> 
  <body>
    <%- include('../partials/header') %> 

    <main>
      <section class="top-list">
      <div class="title-list"><h1 style="color:#1d2d44;">Products</h1></div>
      <div class="createproduct-button">
      <% if (locals.isAdmin) { %>
        <a href="/products/create"><button type="button" class="btn1">Create</button></a>
      <% } %>
      </div>
      </section>
      <hr class="listhr"/>
      <section class="filter-view">
      <div class="item-search" id="search">
        <form class="searchbar">
          <input type="text" placeholder="Search" />
          <i class="fa-solid fa-magnifying-glass"></i>
        </form>
      </div>
    </section>
    <hr class="listhr"/>
    <section class="item-list">
      <% products.forEach(product => { %>
        <article class="item">
          <a class ="item-a" href="/products/<%= product.id %>/edit">
          <div class="itemtext-1">
            <p><%= product.name %></p>
          <figure class="imageitem">
            <img  src="/images/products/<%= product.images[0].name %>" alt="">
          </figure>
          </div>
          <div class="itemtext-2">
            <p class="p1">
              $ <%= product.price %>
             </p>
             <p class="p2">
              -
            </p>
             <p class="p3">
               <%= product.discount %> %OFF
             </p>
          </div>
        </a>
        <% if (locals.isAdmin) { %>
         
          <div class="div-btn-item">
          <a href="/products/<%= product.id %>/edit"><button  class = "btn-edit-item"> Edit</button></a>
          <form action="/products/<%= product.id %>/delete?_method=DELETE" method = "post">
            <button  class = "btn-delete-item" type="submit"> Delete</button>
          </form>
        </div>
        <% } %>
    </article>
       <% }) %>
    </section>
    
    </main>

  <!-- Bottom Nav -->

    <%- include('../partials/bottomNav') %> 

  <!-- Footer -->

    <%- include('../partials/footer') %> 
  </body>
</html>
