<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  
  <%- include('../partials/head') %> 
  <body>
    <%- include('../partials/header') %> 

    <main>
      <section class="top-products">
      <div class="titleproducts"><h1 style="color: green;">Products</h1></div>
      <div class="createproduct">
      <a href="/products/create"><button type="button" class="btn1"> Create</button></a>
      </div>
      </section>
      <section class="filter-view">
      <div class="product-search" id="search">
        <form class="searchbar">
          <input type="text" placeholder="Search" />
          <i class="fa-solid fa-magnifying-glass"></i>
        </form>
      </div>
      <select class="drop-down"name="Category">
        <option value="black">Choose Category</option>
        <% products.forEach(product => { %>
          <option value="<%=product.category%>"><%=product.category%></option>
          <% }) %>
      </select>
      <select class="drop-down"name="Brand">
        <option value="black">Choose a Brand</option>
        <% products.forEach(product => { %>
        <option value="<%=product.brand%>"><%=product.brand%></option>
        <% }) %>
      </select>
    </section>
    <section class="product-list">
      <% products.forEach(product => { %>
        <a href="/products/<%= product.id %>/detail"><article class="product">
          <div class="imageproducts">
            <img src="/images/products/<%= product.images[0] %>" alt="laptop">
          </div>
          <div class="producttext">
            <h3 class="Photo"><%= product.name %></h3>
            <p class="Price">$ <%= product.price %></p>
            <p class="Discount">$ <%= product.discount %></p>
          </div>
          </article>
        </a>
    <% }) %>
  </section>
    </main>

  <!-- Bottom Nav -->

    <%- include('../partials/bottomNav') %> 

  <!-- Footer -->

    <%- include('../partials/footer') %> 
  </body>
</html>
