  <!-- head -->
  
  <%- include('../partials/head') %> 
  <body>
    <%- include('../partials/header') %> 

    <main>
      <h1 style="color: green;">Products</h1>
      <section class="filter-view">
      <div class="main__input" id="search">
        <form>
          <input type="text" placeholder="Search" />
          <i class="fa-solid fa-magnifying-glass"></i>
        </form>
      </div>
      <select class="drop-down"name="Category">
        <option value="black">Choose Category</option>
        <% products.forEach(product => { %>
          <option value="<%=product.category%>"><%=product.category%></option>
          <% }) %>
      </select>
      <select class="drop-down"name="Brand">
        <option value="black">Choose a Brand</option>
        <% products.forEach(product => { %>
        <option value="<%=product.brand%>"><%=product.brand%></option>
        <% }) %>
      </select>
    </section>
      <article>
      <% products.forEach(product => { %>
        <a href="/products/detail/<%= product.id %>" class="FirstOffer">
          <div class="imagecarrussel">
            <img src="/images/products/<%= product.image[0] %>" alt="laptop">
          </div>
          <div class="Imagetext">
            <h3 class="Photo"><%= product.name %></h3>
            <p class="Price">$ <%= product.price %></p>
            <p class="Discount">$ <%= product.discount %></p>
          </div>
        </a>
    <% }) %>
    </article>
    </main>

  <!-- Bottom Nav -->

    <%- include('../partials/bottomNav') %> 

  <!-- Footer -->

    <%- include('../partials/footer') %> 
  </body>
</html>
