
<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/head') %> 
  <body>
    <!-- header -->
    <%- include('../partials/header') %> 


    <main class="main__profile">
        <div class="userProfile">
          <div class="userImage">
          <img width="100px" src="/images/users/<%= userToLogged.image %>" alt="">
        </div>
          <button class="userButton">Edit Profile</button>
        </div>
        <div class="userMainInfo">
          <p>Full name: <%= userToLogged.name %> <%= userToLogged.lastName %></p> 
          <hr>
          <p>Address: <%= userToLogged.address %> </p>
          <hr>
          <p>Cellphone: <%= userToLogged.cellphone %> </p>
          <hr>
          <p>Email: <%= userToLogged.email %> </p>
        </div>
        <div class="userOrders">
       <div>
        <p>My orders</p>
       </div>
        </div>
    </main>




    <!-- Bootom Nav -->
    <%- include('../partials/bottomNav') %> 
    <!-- Footer -->
    <%- include('../partials/footer') %> 
  </body>
</html>