
<!DOCTYPE html>
<html lang="en">
<!-- heade -->
<%- include('../partials/head') %>

  <body>
    <!-- header -->
    <%- include('../partials/header') %>
      <main class="main-form">
        <div class="container-form">
          <div class="text-title">
            <h2>Welcome</h2>
            <p>Register</p>
          </div>
          <form class="form-inputs" action="/users/register" method="POST"  enctype="multipart/form-data">
            <div class="datauser__register">
              <div class="userinput1 " id="first_name-error">
                <input type="text"
                 class="inputJs"
                 name="first_name"
                  id=""
                   placeholder="Name"
                   value="<%= locals.oldBody? oldBody.first_name: null %>"
                   >
                   
                <i class="uil uil-user icon1"></i>
                <% if (locals.errors && errors.first_name) { %>
                      <p class="text-danger">
                        <%= errors.first_name.msg %>
                      </p>
                <% } %>
                <p class="text-danger error">Please complete with a valid name </p>
              </div>
              <div class="userinput2" id="last_name-error">
                <input type="text"
                 class="inputJs"
                 name= "last_name" 
                 placeholder="Last name"
                 value="<%= locals.oldBody? oldBody.last_name: null %>"
                 >
                 <% if (locals.errors && errors.last_name) { %>
                  <p class="text-danger">
                    <%= errors.last_name.msg %>
                  </p>
            <% } %>
                <p class="text-danger error">Please complete your last Name</p>
                <i class="uil uil-user icon1"></i>
              </div>
              <div class="userinput3" id="address-error">
                <input type="text"
                 class="inputJs"
                 placeholder="Address"
                 name="address"
                 value="<%= locals.oldBody? oldBody.address: null %>"
                 >
                 <% if (locals.errors && errors.address) { %>
                  <p class="text-danger">
                    <%= errors.address.msg %>
                  </p>
            <% } %>
                <p class="text-danger error">Please complete with your address</p>
                <i class="uil uil-location-point"></i>
              </div>
              <div class="userinput4" id="cell-error">
                <input type="number"
                class="inputJs"
                name="cell"
                 placeholder="cel:"
                 value="<%= locals.oldBody? oldBody.cell: null %>"
                 >
                 <% if (locals.errors && errors.cell) { %>
                  <p class="text-danger">
                    <%= errors.cell.msg %>
                  </p>
            <% } %>
              <p class="text-danger error">Please complete your cellphone N°</p>
                <i class="uil uil-phone"></i>
              </div>
            </div>
            <div class="file-select2" id="src-file2" >
              <input type="file"
               class="inputJs"
               name="image"
                >
                <% if (locals.errors && errors.image) { %>
                  <p class="text-danger">
                    <%= errors.image.msg %>
                  </p>
            <% } %>
            </div>
            <div class="userinput" id="email-error">
              <input type="text"
              class="inputJs"
              name="email"
               placeholder="Enter your email" 
               value="<%= locals.oldBody? oldBody.email: null %>"
               >
               <% if (locals.errors && errors.email) { %>
                <p class="text-danger">
                  <%= errors.email.msg %>
                </p>
                <% } %>
                <% if (locals.errorEmail) { %>
                  <p><%= errorEmail.email.msg %></p>
                <% } %>
                <p class="text-danger error">Please complete with your email address</p>
              <i class="uil uil-envelope icon icon2"></i>
            </div>
            <div class="userinput" id="password-error">
              <input type="password"
              class="inputJs"
              name="password"
               placeholder="Create password"
              id="pass1"
               >
                <% if (locals.errors && errors.password) { %>
                  <p class="text-danger error">
                    <%= errors.password.msg %>
                  </p>
            <% } %>
            <p class="text-danger error ">Please create a password of at least eight characters </p>
              <i class="uil uil-lock icon icon3"></i>
            </div>
            <div class="userinput">
              <input type="password"
              class="inputJs"
              name="confirmPassword"
              placeholder="Confirm password"
              id="pass2">
              <% if (locals.errors && errors.confirmPassword) { %>
                <p class="text-danger"> 
                  <%= errors.confirmPassword.msg %>
                </p>
          <% } %>
              <p class="text-danger errorPassword">Please confirm with your new password</p>
              <i class="uil uil-lock icon icon4"></i>
              <i class="uil uil-eye-slash showHidePw icon5"></i>
            </div>
            <div class="conditions">
              <input type="checkbox"
              id="checkbox"
              class="inputJs "
              name="conditions"
              >
              <p>I accept all terms and conditions</p>
            </div>
            <% if (locals.errors && errors.conditions) { %>
              <p class="text-danger">
                <%= errors.conditions.msg %>
              </p>
        <% } %>
            <p class="text-danger error">Please accept our terms and conditions</p>
            <div class="userinput button-submit">
            <input class="input-button" type="Submit" value="Register Now">
            </div>
            <div class="text">
              <p>Already have an account? <a href="/users/login">Login</a></p>
            </div>
          </form>
          <p class="conditions-register">
            By registering to IT Land you agree to our terms and conditions and agree to our policies of comunication.
          </p>
        </div>
      </main>
      <!-- Bottom NAv -->
      <%- include('../partials/bottomNav') %>
        <!-- Footer -->
        <%- include('../partials/footer') %>
        <script src="/JS/js-front-user.js"></script>
  </body>

  </html>