<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  
  <%- include('../partials/head') %> 
  <body>
    <%- include('../partials/header') %> 

    <main>
      <section class="top-list-users">
      <div class="title-list-users"><h1 style="color:#1d2d44;">Users</h1></div>
      </section>
      <hr class="listhr"/>
      <section class="filter-view-users">
      <div class="item-search-users" id="search">
        <form class="searchbar-users">
          <input type="text" placeholder="Search" />
          <i class="fa-solid fa-magnifying-glass"></i>
        </form>
      </div>
    </section>
    <hr class="listhr"/>
    <section class="item-list-users">
      <% users.forEach(user => { %>
        <article class="item-users">
          <a class ="item-a-users" href="/users/<%= user.id %>/edit">
          <div class="itemtext-1-users">
            <p><%=user.first_name+" "+user.last_name%></p>
          <figure class="imageitem-users">
            <img  src="/images/users/<%= user.image%>" alt="">
          </figure>
          </div>
          <div class="itemtext-2-users">
            <p class="p4">
               <%= user.email %>
             </p>
          </div>
        </a>
        <% if (locals.isAdmin) { %>
          <div class="div-btn-item-users">
          <a href="/users/update/<%= user.id %>"><button  class = "btn-edit-item-users"> Edit</button></a>
          <form action="/users/update/<%= user.id %>?_method=DELETE" method = "post">
            <button  class = "btn-delete-item-users" type="submit"> Delete</button>
          </form>
        </div>
        <% } %>
    </article>
       <% }) %>
    </section>
    
    </main>

  <!-- Bottom Nav -->

    <%- include('../partials/bottomNav') %> 

  <!-- Footer -->

    <%- include('../partials/footer') %> 
  </body>
</html>
